/* utility class */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.color-grey {
  color: #ccc;
}

.button-log {
  height: 50px;
  width: 100px;
  text-align: center;
  border-radius: 15px;
  line-height: 50px;
}

a {
  text-decoration: none;
  color: #ccc;
}

a:hover {
  color: black;
}
/* utility class */

header {
  height: 80px;
  background: #fff;
  color: black;
  font-size: 20px;
  width: 100%;
  position: fixed;
}

header #header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}

header #header-wrapper .left-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

#header-wrapper .left-side div:nth-child(2) a {
  color: black;
}

#header-wrapper .left-side img {
  width: 60px;
}

#header-wrapper .right-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 55%;
}

#header-wrapper .right-side .i-box {
  width: 25px;
  height: 25px;
  background-color: #ccc;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  margin-right: 5px;
}

 #header-wrapper .right-side i {
  color: #fff;
  vertical-align: middle;
}

.right-side .section {
  position: relative;
}

.right-side .section div:first-child a {
  color: black;
}

.menu-tendina {
  position: absolute;
  top: 200%;
  color: black;
  list-style: none;
  background: #fff;
  box-shadow: 1px 1px 10px 2px #ccc;
  border-radius: 10px;
}

.menu-tendina.big {
  transform: translateX(-25%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menu-tendina.big > ul {
  list-style: none;
  text-align: left;
  height: 250px;
}

.menu-tendina.big > ul > li:first-child {
  color: #ccc;
  font-size: 10px;
}

.menu-tendina.big > ul > li:last-child {
  color: #ccc;
  position: relative;
}

.menu-tendina.big > ul > li:last-child span {
  position: relative;
  bottom: 15px;
  right: 15px;
  font-size: 10px;
  color: lightblue;
}


.menu-tendina li {
  padding: 10px;
  width: 200px;
}

.menu-tendina.hide {
  display: none;
}

header #header-wrapper .button-log-in {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.button-log-in .button-log:first-child {
  background-color: #f0f0f0;
}

.button-log-in .button-log:first-child a{
  color: black;
}

.button-log-in .button-log:nth-child(2) {
  background-color: black;
}

.button-log-in .button-log:nth-child(2) a:hover {
  color: #fff;
}
