/* utility class */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}
.color-grey {
  color: #ccc;
}

.button-log {
  height: 50px;
  width: 150px;
  text-align: center;
  border-radius: 15px;
  line-height: 50px;
}
/* utility class */

header {
  height: 80px;
  background: #fff;
  color: black;
  font-weight: bolder;
  font-size: 20px;
  width: 100%;
  position: fixed;
}

header #header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header #header-wrapper .left-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

header #header-wrapper img {
  width: 80px;
}

header #header-wrapper .right-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

header #header-wrapper .button-log-in {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.button-log-in .button-log:first-child {
  background-color: #ccc;
}

.button-log-in .button-log:nth-child(2) {
  background-color: black;
  color: #fff;
}


header #header-wrapper .right-side .section {
  position: relative;
}

.menu-tendina {
  position: absolute;
  top: 150%;
  color: black;
  list-style: none;
}

.menu-tendina.big {
  transform: translate(-50%, 0);
  left: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 800px;
}

.menu-tendina li {
  color: #ccc;
}

.menu-tendina.big > ul {
  list-style: none;
  text-align: left;
  height: 200px;
}

.menu-tendina li {
  padding-bottom: 20px;
}

.menu-tendina.visibility {
  display: none;
}
